.App {
  text-align: center;
}

.card {
  border: 1px solid #eee;
  box-shadow: 0 2px 2px #ccc;
  padding: 10px;
  width: 300px;
  margin: 10px;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
